Flask==3.0.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Login==0.6.3
Flask-WTF==1.2.1
SQLAlchemy==2.0.27
python-socketio==5.11.1
python-engineio==4.9.0
PyMySQL==1.1.0
cryptography==42.0.5
email-validator==2.1.1
Werkzeug==3.0.1
